# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac custom attributes file (Desktop Service Store)
.DS_Store

# PyCharm files
.idea/

# Instance Folder - used for configuration parameters
/FAF/instance/*.cfg
/FAF/instance/*.db

# Initialization file for Postgress Docker Image
/postgresql/Dockerfile

# Coverage output
/FAF/migrations/
/FAF/__pycache__/

# Virtual Environment
/venv/

# pytest files
.pytest_cache/

#migrations


