{# ``base.html`` is the template all our other templates derive from. While
   Flask-Bootstrap ships with its own base, it is good form to create a custom
   one for our app, as it allows customizing some aspects.

   Deriving from bootstap/base.html gives us a basic page scaffoling.

   You can find additional information about template inheritance at

   http://jinja.pocoo.org/docs/templates/#template-inheritance
#}
{%- extends "bootstrap/base.html" %}

{# We also set a default title, usually because we might forget to set one.
   In our sample app, we will most likely just opt not to change it #}
{% block title %}Meet N Eat{% endblock %}

{# While we are at it, we also enable fixes for legacy browsers. First we
   import the necessary macros: #}
{% import "bootstrap/fixes.html" as fixes %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}
{{super()}}

{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
   The sample application already contains the required static files. #}
{{fixes.ie8()}}
{%- endblock %}

{# Adding our own CSS files is also done here. Check the documentation at
   http://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks
   for an overview. #}
{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
   <!--  <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='sample-app.css')}}"> -->
{% endblock %}

{# Finally, round things out with navigation #}
{% block navbar %}
{% if g.user.is_authenticated %}
    {{nav.usernavbar.render()}}
{% else %}
    {{nav.homenavbar.render()}}
{% endif %}
{% endblock %}


{% block content %}
<div class="container-fluid">
  {% block error_display %}
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{messages}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
{% endblock error_display %}
  {# Main row with 3 col-col1,col2,col3 #}
<div class="row">
  <div class="col-md-2 rounded hidden-sm">
    {% block profile_info %}
    {% endblock profile_info %}
  </div>
  <div class="col-md-8 rounded">
    <div class="row">
    {% block post_quote %}
    {% endblock post_quote %}
  </div>
  {# Internal row with 2 col-col4,col5 #}
    <div class="row">
      <div class="col-md-8 rounded well">

      {% block posts %}
      <h1>Proposals</h1>
      {% endblock posts %}
      </div>
      <div class="col-md-4 rounded">
      {% block signin_staff %}
      {% endblock signin_staff %}
      </div>
    </div>
    <div class="row">
    {% block staff_pick %}
    {% endblock staff_pick %}
  </div>
  </div>
  <div class="col-md-2 rounded">
    {% block resturant_adv %}
    {% endblock resturant_adv %}
  </div>


</div>
</div>

{% block footer %}
<footer class="container-fluid bg-4 text-center">
  <p>Copyright <a href="https://www.knaurtech.com">Knaur Tech</a></p>
</footer>

{% endblock footer%}
{% endblock content %}




