{% extends "base.html" %}
{% set title = 'Change Password' %}
 
{% block post_quote %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>Email Change</h2>
  </div>
 
  <h3>Current Email: {{ current_user.email }}</h3>
  <h3>Please enter your new password:</h3>
  <form action="{{ url_for('users.user_password_change') }}" method="POST">
  {{ form.hidden_tag() }}
    <p>
            {{ form.password.label }}<br>
            {{ form.password(size=64) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm.label }}<br>
            {{ form.confirm(size=64) }}<br>
            {% for error in form.confirm.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>

    
  </form>
</div>
 
{% endblock %}