{% extends "base.html" %}
{% set title = 'Password Reset' %}

{% block post_quote %}

    <h2>New Password:</h2>

  <form action="{{ url_for('users.reset_with_token', token=token) }}" method="POST">
    {{ form.csrf_token }}
    
     <p>
      {{ form.password.label }}<br>
            {{ form.password(size=64) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
    <p>
      {{ form.confirm.label }}<br>
            {{ form.confirm(size=64) }}<br>
            {% for error in form.confirm.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    </p>
     <p>{{ form.submit() }}</p>
    
  </form>


{% endblock %}

